@model StockTrade

@{
    ViewBag.Title = "Home";
    ViewBag.BreadcrumbValue = "Microsoft Corp";
}

<form method="post">
    <div class="box index-content">
        <div>
            <h1 class="company-profile">@Model.StockName (@Model.StockSymbol)</h1>
            <br />
            <h1><span class="dollar-symbol">$</span><span class="price"> @Model.Price</span></h1>
            <br />
            @if (ViewBag.Errors != null)
            {
                <div class="text-red">
                    <ul>
                        @foreach (string error in ViewBag.Errors)
                        {
                            <li class="ml">@error</li>
                        }
                    </ul>
                </div>
            }
        </div>
        <div class="vl">
        </div>
        <div class="buy-and-sell">
            <h4 class="new-order">New Order</h4>
            <br />
            <label asp-for="Quantity">Quantity:</label>
            <br />
            <input asp-for="Quantity" class="form-input" placeholder="Quantity" required="required" />
            <br />
            <button type="submit" asp-controller="Trade" asp-action="SellOrder" class="button red-back">
                <i class="fa-solid fa-arrow-down"></i>
                <span>Sell</span>
            </button>
            <button type="submit" asp-controller="Trade" asp-action="BuyOrder" class="button green-back">
                <i class="fa-solid fa-arrow-up"></i>
                <span>Buy</span>
            </button>
        </div>
    </div>
    <input type="hidden" asp-for="StockSymbol" />
    <input type="hidden" asp-for="StockName" />
    <input type="hidden" asp-for="Price" id="price" />
    <input type="hidden" id="FinnhubToken" value="@ViewBag.FinnhubToken" />
</form>

@section Scripts{
    <script src="~/Scripts/FinnhubScript.js"></script>
}